= simple_form_for @checklist, url: update_audit_fields_checklist_path(@checklist) do |f|
  = f.error_notification
  %h4
    Checklist 
    = @checklist.title 
  %br/  

  = f.simple_fields_for :questions do |builder|
    = render 'audit_question_fields', f: builder
        
  .questions
    .form-actions
      = f.button :submit, 'Save'
    

