.nested-fields
  %b Question:
  = f.object.title  
  %br/

  %b Description:
  = f.object.description
  %br/
  %br/

  %b
    Enter the answer:
  = f.input :answer, as: :select, collection: [ 'yes', 'no', 'NA' ], prompt: 'Select Answer', label: false, required: 'required'

  %b
    Comment:
  = f.input :comment, label: false, placeholder: 'Your comment', pattern: ".{12,}", title: "12 characters minimum", required: 'required'

  = f.hidden_field :title
  = f.hidden_field :id
  = f.hidden_field :_destroy  

    
  %br/
