%p#notice
  = notice
  
%p
  %strong Title:
  = @checklist.title
%p
  %strong Description:
  = @checklist.description
  
%p
  %strong Question Title:
  = @checklist.questions.last.title
%p
  %strong Question Description:
  = @checklist.questions.last.description  

%br/
= link_to 'New Checklist', new_checklist_path    

%br/
= link_to 'Destroy', @checklist, method: :delete, data: { confirm: 'Are you sure?' }

%br/
= link_to 'To all Checklists Page', checklists_path 
